:root {
  --primary-color: #272343;
  --secondary-color: #bae8e8;
  --background-color: #e3f6f5;
  --button-color: #f76b8a;
}

.hero {
  text-align: center;
  background: var(--background-color);
  color: var(--primary-color);
  padding: 160px 20px;
}

.hero h1 {
  font-family: poppins;
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: poppins;
  font-size: 28px;
  line-height: 1.5;
}
.hero p {
  font-family: ubuntu;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

.btn-branding {
  border: solid 1px;
  border-color: var(--button-color);
  color: var(--button-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  color: var(--background-color);
  background-color: var(--button-color);
}
