:root {
  --primary-color: #272343;
  --secondary-color: #bae8e8;
  --background-color: #e3f6f5;
  --button-color: #f76b8a;
}

body {
  max-width: 100%;
}

h2 {
  font-size: 52px;
  font-family: poppins;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-family: jost;
}
img {
  border-radius: 10px;
}

.hero {
  text-align: center;
  background: var(--background-color);
  color: var(--primary-color);
  padding: 160px 20px;
}

.hero h1 {
  font-family: poppins;
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: poppins;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 300;
}
.hero p {
  font-family: ubuntu;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}
.middle-paragraph {
  font-weight: 600;
}

.btn-branding {
  border: solid 1px;
  border-color: var(--button-color);
  color: var(--button-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  transition: all 150ms ease-in-out;
  text-align: center;
}

.btn-branding:hover {
  color: var(--background-color);
  background-color: var(--button-color);
}
.about-hero {
  padding: 100px 20px;
  background-color: var(--background-color);
  color: var(--primary-color);
}
.about-hero h1 {
  font-size: 64px;
  font-family: poppins;
  font-weight: bold;
}

.about-hero h2 {
  font-size: 25px;
  font-family: poppins;
}
.about-description {
  margin: 30px;
}

.about-image {
  margin: 30px;
}
.content-container {
  color: var(--primary-color);
  padding: 15px;
}
.content-container h2 {
  font-size: 35px;
}

.content-container h3 {
  font-size: 15px;
  font-family: ubuntu;
}
@media (max-width: 976px) {
  h2,
  p {
    text-align: center;
  }
  .btn {
    display: block;
    margin: 0 35px;
  }
  .hero h1 {
    font-size: 55px;
  }

  .hero h2 {
    font-size: 23px;
  }

  .hero p {
    font-size: 30px;
  }
  .about-hero h1 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .middle-paragraph {
    margin: 0 30px;
  }
  .project-description {
    margin-top: 35px;
    padding: 0 10px;
  }
  .about-description {
    text-align: center;
  }

  .about-hero h1 {
    font-size: 45px;
  }

  .about-image {
    text-align: center;
    margin-top: 20px;
  }
  .btn {
    display: block;
    margin: 0;
  }
}
